body {
    margin: 60px auto;
    width: 70%;
    background-color: #232323;
}
nav ul, footer ul {
    font-family:'Trebuchet MS', 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #636363;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    text-align: center;
}
a {
    text-decoration: none;
    color: #999;
    text-align: center;
}

/*a:hover {
    text-decoration: underline;
}*/

h1 {
    font-size: 5em;
    font-family:'Helvetica', 'Lucida Console', 'Arial', 'Sans-Serif';
    color: #e5e5e5;
    line-height: 1.4em;    
    text-align: center;

}
p {
    font-size: 2.5em;
    line-height: 0.4em;
    color: #c9c9c9;
    text-align: center;
}
footer {
    border-top: 1px solid #3f3f3f;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color: #636363;
    text-align: center;
}

ul.posts li {
    list-style: none;
}
