::selection {
  background: #80B9F2; /* WebKit/Blink Browsers */
  color: #ffffff;
}

::-moz-selection {
  background: #80B9F2; /* Gecko Browsers */
  color: #ffffff;
}

html {
  height: 50px;
}

body {
    margin: 100px auto;
    width: 1200px;
    height: 50px;
    background-color: #f9f9f9;    
}
nav ul, footer ul {
    font-family: 'MerriweatherLight', 'Helvetica', 'Arial', 'Sans-Serif';
    margin: 20px;
    list-style: none;
    font-weight: 300;
    color: #3d3d3d;
    text-transform: uppercase;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    
}

.blurb { 
    margin-bottom: 25px;
    
}

.matter {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Open Sans', 'MerriweatherLight', 'RobotoSlabLight', 'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: 300;
    font-size: 2.2em;
}



.matter a {
    text-decoration: none;
}

.footerLinks a {
    text-decoration: none;
    color: #3d3d3d;
    text-align: center;
}

.footerLinks p {
    font-family: 'MerriweatherLight', 'RobotoSlabRegular', 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.0em;
    color: #3d3d3d;
    font-weight: 300;
}


.footerLinks a:hover {
    border-bottom: 1px solid #3d3d3d;
}

/*.matter a:hover {
    border-bottom: 1px solid #3d3d3d;
}*/


h1 {
    font-size: 2em;
    font-family: 'Open Sans', 'MerriweatherRegular', 'RobotoSlabRegular', 'Helvetica', 'Arial', 'Sans-Serif';
    color: #3d3d3d;
    line-height: 1.4em;    
    text-align: center;
    padding: 0px;
    margin: 0px;
    

}
p {
    font-family: 'Open Sans', 'MerriweatherLight', 'RobotoSlabRegular', 'Helvetica', 'Arial', 'Sans-Serif'; 
    font-size: 1.2em;
    line-height: 0.4em;
    color: #3d3d3d;
    text-align: center;
    margin-bottom: 25px;
    text-decoration: none;

}

b {
    font-family: 'Open Sans', 'Merriweather', 'RobotoSlabLight', 'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: 300;
    line-height: 1.5em;
    color: #000000;       /*earlier was #c9c9c9*/
    text-align: center;
    text-align: left;
}


footer {
    border-top: 1px double #c9c9c9;
    font-size: .8em;
    margin-top:25px;
    text-align: center;   
    font-weight: 300;

}

ul.posts { 
    margin-right: 20px;
    font-size: 0.8em;
    color: #3d3d3d;
    text-align: center;
}

li:hover {
     /*border-bottom: 1px solid #636363;*/
}

ul.posts li {
    list-style: none;
}
