::selection {
  background: #EBB43D; /* WebKit/Blink Browsers */
  color: #1A1A1A;
}

::-moz-selection {
  background: #EBB43D; /* Gecko Browsers */
  color: #1A1A1A;
}

@media (max-width:499px){
    .matter{
        font-size:100px !important;
    }  
}


html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    width: auto;
    background: #1A1A1A;
    text-align: justify;
}

.matter {
    color: #E5F5FF;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Open Sans', 'MerriweatherLight', 'RobotoSlabLight', 'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: 300;
    font-size: 60px;
}

#links {
  color: #CFCFCF;
  border-bottom: 1.5px dashed;
  border-color: #404040;

  transition: color .5s ease-in-out, border-bottom .9s;
}

#links:hover {
    color: #EBB43D;
    border-bottom: 1.5px dashed;

}

#gh {
    color: #DFC86D;
}

#cv {
    color: #DFC86D;
}

#linked {
    color: #DFC86D;
}

#email {
    color: #DFC86D;
}

.matter a {
    text-decoration: none;
    color: #E5F5FF;

}

.footerLinks a {
    text-decoration: none;
    color: #3d3d3d;
    text-align: center;
}


/*.matter a:hover {
}*/

b {
    color: #CFCFCF;
    font-family: 'Open Sans', 'Merriweather', 'RobotoSlabLight', 'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: 300;
    line-height: 1.3em;
}

