---
layout: default
---

{% include header.html %}

<script>
function changeText() {
    // "no spams please"
	currentText = document.getElementById('email').textContent;
    if (currentText == 'email') {
        document.getElementById('email').textContent = '< danishprakash AT outlook DOT com >';
    }
    else {
        document.getElementById('email').textContent = 'email';
    }
}
</script>

<div class="page">
    <div class="nav">
        <ul>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/reading">BOOKS</a></li>
            <li><a href="/software">CODE</a></li>
            <li><a href="https://unsplash.com/@danishprakash" target="_blank">PHOTOS</a></li>
        </ul>
    </div>

    <div class="cont">

        <div class="desc">
            <div class="description"><p>
                I'm <a href=".">@danishprakash</a>, a backend engineer at <a href="https://www.hackerrank.com/" target="_blank" >HackerRank</a>, previously at SocialCops. I like talking about programming, nutrition and finance.
            </p><br></div>

        <div class="blog">
            <h1>archive</h1>
            <ol>
                <li>
                </li>
                {% for post in site.posts %}
                <li>
                    {% if post.type == "external" %}
                        <a href="{{ post.link }}" target="_blank">{{ post.title }}</a> <span class="date"> {{ post.date | date: '%Y-%m' }} </span>
                    {% else %}
                        <a href="{{ post.url }}">{{ post.title }}</a> <span class="date"> {{ post.date | date: '%Y-%m' }}  </span>
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
