// COLORS
$color-fg: #272727;
$color-bg: #FFFFFF;
$color-grey: #EEEEEE;
$color-link: #1A0DAB;
$color-code: #f2f2f2;

// FONT
$font-url: "https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic";
$font-code: "'Ubuntu Mono', ";

// BREAKPOINTS
$br: 600px;
