.highlight .hll { background-color: #ffffcc }
/* .highlight  { background: #ffffff; } */
.highlight .c { color: #8a8a8a; } /* Comment */
.highlight .k { font-weight: 400 } /* Keyword */
.highlight .ch { font-style: italic } /* Comment.Hashbang */
.highlight .cm { font-style: italic } /* Comment.Multiline */
.highlight .cpf { font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { font-style: italic } /* Comment.Single */
.highlight .cs { font-style: italic } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: 400 } /* Generic.Heading */
.highlight .gp { font-weight: 400 } /* Generic.Prompt */
.highlight .gs { font-weight: 400 } /* Generic.Strong */
.highlight .gu { font-weight: 400 } /* Generic.Subheading */
.highlight .kc { font-weight: 400 } /* Keyword.Constant */
.highlight .kd { font-weight: 400 } /* Keyword.Declaration */
.highlight .kn { font-weight: 400 } /* Keyword.Namespace */
.highlight .kr { font-weight: 400 } /* Keyword.Reserved */
/* .highlight .s { font-style:3italic } /1* Literal.String *1/ */
.highlight .nc { font-weight: 400 } /* Name.Class */
.highlight .ni { font-weight: 400 } /* Name.Entity */
.highlight .ne { font-weight: 400 } /* Name.Exception */
.highlight .nn { font-weight: 400 } /* Name.Namespace */
.highlight .nt { font-weight: 400 } /* Name.Tag */
.highlight .ow { font-weight: 400 } /* Operator.Word */
/* .highlight .sa { font-style: italic } /1* Literal.String.Affix *1/ */
/* .highlight .sb { font-style: italic } /1* Literal.String.Backtick *1/ */
/* .highlight .sc { font-style: italic } /1* Literal.String.Char *1/ */
/* .highlight .dl { font-style: italic } /1* Literal.String.Delimiter *1/ */
/* .highlight .sd { font-style: italic } /1* Literal.String.Doc *1/ */
/* .highlight .s2 { font-style: italic } /1* Literal.String.Double *1/ */
/* .highlight .se { font-weight: bold; font-style: italic } /1* Literal.String.Escape *1/ */
/* .highlight .sh { font-style: italic } /1* Literal.String.Heredoc *1/ */
/* .highlight .si { font-weight: bold; font-style: italic } /1* Literal.String.Interpol *1/ */
/* .highlight .sx { font-style: italic } /1* Literal.String.Other *1/ */
/* .highlight .sr { font-style: italic } /1* Literal.String.Regex *1/ */
/* .highlight .s1 { font-style: italic } /1* Literal.String.Single *1/ */
/* .highlight .ss { font-style: italic } /1* Literal.String.Symbol *1/ */
