---
---

@import url(bw.css);
@import "reset";
@import "config";

::selection {
    color: #000000;
    background-color: #FFFFB3;
}

::-moz-selection {
    color: #000000;
    background-color: #FFFFB3;
}

body {
    color: $color-fg;
    background: #ffffff;
    font-family:  'Noto Serif KR', 'IBM Plex Sans', serif;
    // font-size: 85%;
    font-weight: 500;
}

a {
    color: $color-fg;
    border-bottom: 1px dotted #ADADAD;
    padding-left: 2px;
    padding-right: 2px;
    // padding: 1px;

    &:visited {
        text-decoration: none;
    }

    &:hover {
        // background-color: #000000;
        border-bottom: solid #505050;
        // color: #ffffff;
        padding-left: 2px;
        padding-right: 2px;
        transition: .1s;
        // padding: 1px;

    }
}

h1 {
    font-weight: 500;
    font-family:  'Noto Serif KR', 'IBM Plex Sans', serif;
    margin-bottom: 5px;
}

p {
    font-size: 1.25em;
    line-height: 1.25em;
}

ul {
    list-style: none;
    align-items: baseline;
    li {
        padding: 5px;
        padding-left: 10px;
        @media screen and (max-width: $br) {
            padding: 10px 0 10px 0;
        }
    }
}


.wrapper {
    max-width: 620px;
    margin: auto;
    padding: 60px 30px 60px 30px;
    overflow: hidden;
    @media screen and (max-width: $br) {
        padding: 20px;
    }
}


// header (name)
.header {
    display: inline;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 80px;
    @media screen and (max-width: $br) {
        display: block;
    }
    h1 {
        font-size: 1.25em;
        font-family:  'Noto Serif KR', 'IBM Plex Sans', serif;
		font-weight: 700;
        padding-bottom: 10px;
		text-align: left;
    }
    ul {
        margin-top: 10px;
        li {
            display: inline;
            padding: 0;
            padding-left: 5px;
        }
    }

}

// description
.desc {
	h2 {
		font-size: 1.25em;
	}

	p {
        font-family:  'Noto Serif KR', 'IBM Plex Sans', serif;
        font-size: 1.07em;
        font-weight: 500;
        line-height: 1.45em;
        margin-bottom: 15px;
        // text-align: justify;
	}
}


.portfolio {
    padding-bottom: 30px;
    h1 {
        font-size: 1.07em;
        margin-bottom: 5px;
    }
}



// archive section
.blog {
    padding-bottom: 30px;

    h1 {
        font-size: 1.18em;
        font-weight: 500;
        margin-bottom: 5px;
    }
	li {
        font-size: 1.07em;
        margin: 0 1.5px 1.5px 0;
        padding-right: 0px;
        list-style: none;
        line-height: 1.65em;
		.date{
			// float:right;
            color: #c0c0c0;
            text-transform: lowercase;
		}

        &:hover {
            color: #000000;
        }

	}
}


// blog-post
.post {
    padding-bottom: 30px;

	&__back {
		display: in-line;
		text-align: left;
	}
    &__title {
        font-size: 2.2em;
        font-family:  'Noto Serif KR', 'IBM Plex Sans', serif;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 25px;
		text-align: left;
        line-height: 1.2em; 
    }
    &__date {
        font-size: 1em;
		text-align: left;
        color: #878585;
        font-family:  'Noto Serif KR', 'IBM Plex Sans', serif;
        font-weight: 500;
        margin-bottom: 5px;
    }
    &__content {
        padding-top: 30px;
        h1 {
            font-size: 1.2em;
            font-weight: 700;
            margin-top: 35px;
            margin-bottom: 15px;
            font-family:  'Noto Serif KR', 'IBM Plex Sans', serif;
        }
        p {
            font-family:  'Noto Serif KR', 'IBM Plex Sans', serif;
            font-size: 1.07em;
            font-weight: 500;
            line-height: 1.45em;
            margin-bottom: 15px;
            // text-align: justify;
        }
        strong {
            font-weight: 700;
            font-family: 'Noto Serif KR', 'IBM Plex Sans', serif;
            padding-bottom: 10px;
        }
        em {
            font-style: italic;
        }
        ol {
            font-size: 1.02em;
            list-style: square;
            padding-bottom: 10px;
            line-height: 1.65em;
        }
        li {
            font-size: 1.07em;
            list-style: square;
            padding-bottom: 10px;
            line-height: 1.65em;
            margin: 0 0px 0px 0;
            padding: 0px;
            // padding-bottom: 10px;
            @media screen and (max-width: $br) {
                padding: 10px 0 10px 0;
            }
        }
        img {
            padding-top: 10px;
            padding-bottom: 15px;
            display: block;
            margin: 0 auto;
            @media screen and (max-width: $br) {
                width: 100%;
                margin: auto;
            }
        }
        code {
            padding: 3px;
            font-size: 0.9em;
            background: #e8e8e8;
            font-family:  'IBM Plex Mono', monospace;
            font-weight: 400;
            overflow: hidden;
        }
        .lineno { 
             color: #b0b0b0; 
             padding-right: 8px;
             border-right:1px solid #b0b0b0;
             margin-right: 10px;
             -webkit-touch-callout: none;
             -webkit-user-select: none;
             -khtml-user-select: none;
             -moz-user-select: none;
             -ms-user-select: none;
             user-select: none;
         }

        // syntax-highlighted code blocks
        .highlight {
            margin-bottom: 15px;
            border-radius: 3px;
            padding: 10px;
            line-height: 1.5;
            font-weight: 300;
            overflow-x: scroll;
            background: #e8e8e8;

            // inline code blocks
            code {
                padding: 0px;
                font-weight: 400;
                font-size: 1.01em;
                font-family: 'IBM Plex Mono', monospace;
                line-height: 1.25em;
                color: #3b3b3b;
                background: #ffffff;
            }
        }
        .codebreak {
            margin: 15px;
            border: 0;
            border-bottom: 1px dashed $color-fg;
        }
    }
}

.about {

	&__back {
		display: block;
		text-align: left;
	}

    &__title {
        font-size: 1.8em;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    &__content {
        margin-top: 20px;
        h1 {
            font-size: 1.07em;
            font-style: italic;
            margin-top: 30px;
            margin-bottom: 5px;
        }
        p {
            font-size: 1.1em;
            line-height: 150%;
            margin-bottom: 10px;
		}
    }
}
