---
---

@import url(monokai.css);
@import "reset";
@import "config";

::selection {
  background: #282828; /* WebKit/Blink Browsers */
  color: #efefef;
}

::-moz-selection {
  background: #282828; /* Gecko Browsers */
  color: #efefef;
}

body {
    color: $color-fg;
    background: #ffffff;
	font-family: 'IBM Plex Serif', serif;
    font-size: 85%;
    font-weight: 400;
}
h1 {
    font-weight: 400;
    margin-bottom: 5px;
}

p {
    font-size: 1.3em;
    line-height: 20px;
}
a {
  color: $color-link;

  &:visited {
    color: $color-link;
    text-decoration: none;
  }
  &:hover {
    color: $color-link;
    border-bottom: 1.5px dashed;
    // text-decoration: none;
  }
  &:active {
    color: $color-link;
    text-decoration: none;
  }
}
ul {
    list-style: none;
    li {
        padding: 5px;
        padding-left: 10px;
        @media screen and (max-width: $br) {
            padding: 10px 0 10px 0;
        }
    }
}


.wrapper {
    max-width: 600px;
    margin: auto;
    padding: 60px 30px 60px 30px;
    @media screen and (max-width: $br) {
        padding: 20px;
    }
}


.header {
    display: inline;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 60px;
    @media screen and (max-width: $br) {
        display: block;
    }
    h1 {
        font-size: 1.5em;
		font-weight: 400;
        margin-bottom: 10px;
		text-align: center;
    }
    ul {
        margin-top: 10px;
        li {
            display: inline;
            padding: 0;
            padding-left: 5px;
        }

		a {
			text-decoration: none;
		}
    }

}

.desc {
	h2 {
		font-size: 2em;
	}

	p {
		font-size: 1.2em;
		text-align: justify;
		line-height: 1.6;
	}
}


.portfolio {
    padding-bottom: 30px;
    h1 {
        font-size: 1.7em;
        margin-bottom: 5px;
    }
}



.blog {
    padding-bottom: 30px;

    h1 {
        font-size: 1.4em;
        margin-bottom: 5px;
    }
	li {
		font-size: 1.15em;
		.date{
			float:right;
		}
	}
}


.post {
    padding-bottom: 30px;

	&__back {
		display: in-line;
		text-align: left;
	}
    &__title {
        font-size: 1.8em;
        font-weight: 700;
        // text-decoration: underline;
        margin-top: 20px;
        margin-bottom: 5px;
		text-align: center;
    }
    &__date {
        font-size: 1em;
		text-align: center;
        font-style: italic;
    }
    &__content {
        padding-top: 30px;
        h1 {
            font-size: 1.25em;
            font-weight: 700;
            margin-top: 30px;
            margin-bottom: 5px;
			padding-bottom: 5px;
        }
        p {
            font-size: 1.2em;
            line-height: 25px;
            margin-bottom: 15px;
            text-align: justify;
        }
        a {
            text-decoration: none;
            &:hover {
                // font-weight: bold;
            }
        }
        strong {
            font-weight: 700;
        }
        em {
            font-style: italic;
        }
        ul {
            font-size: 1.2em;
            list-style: circle;
            margin-left: 30px;
            margin-top: -5px;
            margin-bottom: 5px;
            li {
                padding: 5px;
                padding-left: 5px;
                @media screen and (max-width: $br) {
                    padding: 10px 0 10px 0;
                }
            }
            @media screen and (max-width: $br) {
                margin-left: 10px;
            }
        }
        img {
            margin-top: 10px;
            margin-bottom: 10px;
            @media screen and (max-width: $br) {
                width: 100%;
                margin: auto;
            }
        }
        code {
            padding: 3px;
            font-size: 1em;
            border-radius: 2px;
            color: #333333;
            background: #e8e8e8;
            font-family: courier;
            overflow: scroll;
        }
        // inline code blocks
        .highlight {
            margin-bottom: 15px;
            padding: 10px;
            line-height: 1.5;
            border-radius: 3px;
            background: #3d3d3d;
            // syntax highlighted code blocks
            code {
                padding: 0px;
                font-size: 0.95em;
                font-family: 'courier new';
                color: #ffffff;
                background: none;
                overflow: scroll;
            }
        }
        .codebreak {
            margin: 15px;
            border: 0;
            border-bottom: 1px dashed $color-fg;
        }
    }
}

.about {

	&__back {
		display: block;
		text-align: center;
	}

    &__title {
        font-size: 1.8em;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    &__content {
        margin-top: 20px;
        h1 {
            font-size: 1.2em;
            font-style: italic;
            margin-top: 30px;
            margin-bottom: 5px;
        }
        p {
            font-size: 1.1em;
            line-height: 150%;
            margin-bottom: 10px;
		}
    }
}

// .footer {
// 	border-top: thin;
// 	p {
// 		font-size: 1em;
// 		text-align: center;
// 	}
// }
