---
---

@import url(bw.css);
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');
@import "reset";
@import "config";

.title{
    margin-top: 40px;
    margin-left: 45px;
    font-weight: 800;
    font-family: 'inter';
    color: #514e4e;
    border-left: 1px solid #dddcdc;
    padding-left: 30px;
    font-size: 16px;

    a:visited {
        color: #514e4e;
        text-decoration: none;
    }
}

.footer {
    p {
        font-size: 12px;
        color: #514e4e;
    }

    a:visited {
        text-decoration: none;
        color: #514e4e;
    }

    margin-top: 40px;
    font-weight: 300;
    font-family: 'inter';
    border-top: 1px solid #dddcdc;
    margin-top: 160px;
    margin-bottom: -20em;
    padding-top: 15px;
    border-left: 1px solid #dddcdc;
    padding-left: 30px;
    margin-left: 45px;
    padding-bottom: 40px;
}

.page {
    margin-left: 45px;
    display: block;
    border-left: 1px solid #dddcdc;
    padding-left: 30px;
    margin-top: -6em;
    margin-bottom: -10em;
    padding-bottom: 100px;

    .nav {
        // width: 100px;
        // margin-left: 18px;
        // min-width: 100px;
        // position: fixed;
        margin-bottom: 20px;
        border-bottom: 1px solid #dddcdc;
        padding-bottom: 10px;
        margin-left: -1.9em;
        padding-top: 95px;
        padding-left: 31px;
        margin-bottom: 25px;

        a {
            font-family: 'inter';
            // line-height: 8px;
            font-weight: 700;
            font-style: normal;
            font-size: 16px;
            color: gray;
        }


        ul {
            list-style: none;
            align-content: left;
            justify-content: left;
            display: flex;
            // max-width: 90px;

            li {
                // text-align: right;
                padding-right: 14px;
                // line-height: 17px;
                // list-style: none;
                // width: 90px;
            }
        }
    }

  .cont {
    // margin-left: 180px;
    // flex: 1;
    justify-content: center;
    align-items: center;
    // display: flex;
  }
}

@media (max-width: 500px) {
  .page {
    flex-direction: column;
    align-items: center;
    .nav {
      width: 65%;
      ul {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .page .cont {
      margin-left: 120px;
      justify-content: center;
      align-items: center;
      display: flex;
    }

  .page {
      display: inline-block;
      .cont {
          margin-left: 0px;
        }
        .nav {
            margin-left: 0px;
            position: relative;
            ul li {
                padding-bottom: 10px;
                padding-right: 10px;
            }
        }
  }
}

.site-title {
    font-family: 'inter', sans-serif;
    text-align: left;
    align-self: center;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 45px;
    max-width: 550px;
}

body {
    color: #000000;
    background: #ffffff;
    font-family:  'inter', sans-serif;
    font-size: 12pt;
    line-height: 1.5;
    font-weight: 400;
    word-wrap: break-word;
}

hr {
    color: #ffffff;
}

p {
    font-size: 12pt;
    line-height: 1.25em;
}

// ul {
//     list-style: none;
//     align-items: baseline;
//     li {
//         padding: 5px;
//         padding-left: 10px;
//         @media screen and (max-width: $br) {
//             padding: 10px 0 10px 0;
//         }
//     }
// }


.wrapper {
    max-width: auto;
    margin: auto;
    margin-left: 10em;
    // padding: 44px 0px 0px 44px;
    @media screen and (max-width: $br) {
        padding: 20px;
    }
}


// header (name)
.header {
    display: inline;
    justify-content: space-between;
    align-items: baseline;
    @media screen and (max-width: $br) {
        display: block;
    }
    h1 {
        font-size: 12pt;
        font-family:  'inter', sans-serif;
		font-weight: 500;
        padding-bottom: 5px;
		text-align: left;
    }
    // ul {
    //     margin-top: 10px;
    //     li {
    //         display: inline;
    //         padding: 0;
    //         padding-left: 5px;
    //     }
    // }

}

b {
    font-weight: 600;
}

i {
    font-style: italic;
}

// navigation item separation
#navigation ul li {
	margin: 0;
	padding: 0;
    list-style-type: none;
    display: inline;
}

#navigation li:not(:first-child):before {
    content: " · ";
}

// description text
.description {
    a {
        line-height: 1.5;
        font-weight: 400;
        font-style: normal;
        font-size: 12pt;
        color: #000000;
        border-bottom: 2px solid #d2d2d2;
        &:hover {
            text-decoration: none;
            background-color: #fcf7a2;
            border-bottom: 0px;
        }
    }
}

// desc
.desc {
    max-width: 550px;

	h2 {
        font-size: 12pt;
	}

    p {
        font-family:  'inter', sans-serif;
        font-size: 12pt;
        font-weight: 400;
        line-height: 23px;
        margin-bottom: 5px;
        justify-items: center;
    }
}


.portfolio {
    padding-bottom: 30px;
    h1 {
        font-size: 1em;
        margin-bottom: 5px;
    }
}



// archive section
.blog {
    padding-bottom: 30px;

    h1 {
        font-size: 12pt;
        font-weight: 400;
        margin-bottom: 14px;
        border-bottom: 1px #e6e6e6 solid;
    }

	li {
        margin: 0 1.5px 1.5px 0;
        padding-right: 0px;
        list-style: none;
        line-height: 30px;
        // text-transform: capitalize;

        .date{
            float: none;
            font-size: 8pt;
            color: #777777;
            text-transform: lowercase;
        }

	}

    a {
        line-height: 18px;
        font-weight: 400;
        font-style: normal;
        font-size: 12pt;
        color: #000000;
        border-bottom: 2px solid #d2d2d2;
        &:hover {
            text-decoration: none;
            background-color: #fcf7a2;
            border-bottom: 0px;
        }
    }
}


// blog-post
.post {
    padding-bottom: 30px;
    max-width: 38em;

    &__back {
        display: in-line;
        text-align: left;
        display: block;
        margin-bottom: 25px;
    }

    &__title {
        font-family: 'inter', sans-serif;
        text-align: left;
        align-self: center;
        font-size: 22pt;
        font-weight: 700;
        // margin-top: 40px;
        margin-bottom: 10px;
        // line-height: 45px;
        max-width: 580px;
    }

    &__date {
        // visibility: hidden;
        font-size: 0.75em;
        text-align: left;
        color: #616161;
        font-family:  'inter', sans-serif;
        font-weight: 400;
        margin-bottom: 20px;
    }


    &__content {
        hr {
            width: 10%;
        }

        h1 {
            font-size: 16pt;
            color: #000000;
            font-weight: 600;
            margin-top: 10px;
            margin-bottom: 8px;
            font-family: 'inter', sans-serif;
        }

        h2 {
            font-size: 14pt;
            color: #000000;
            font-weight: 500;
            margin-top: 5px;
            margin-bottom: 4px;
            font-family: 'inter', sans-serif;
        }


        p {
            font-family: 'inter', sans-serif;
            font-size: 12pt;
            font-weight: 400;
            line-height: 1.5;
            padding-bottom: 16px;
            word-wrap: break-word;
            // letter-spacing: 0.2px;
            color: #000000;
        }

        a {
            line-height: 1.5;
            font-weight: 400;
            font-style: normal;
            font-size: 12pt;
            color: #000000;
            font-family: 'inter', sans-serif;
            border-bottom: 2px solid #d2d2d2;
            &:hover {
                text-decoration: none;
                background-color: #fcf7a2;
                border-bottom: 0px;
            }
        }

        strong {
            font-family: 'inter', sans-serif;
            padding-bottom: 10px;
        }
        em {
            font-style: italic;
        }
        ul {
            font-size: 12pt;
            font-family: 'inter', sans-serif;
            list-style: disc;
            padding-bottom: 10px;
            line-height: 1.3em;
            // margin-left: 16px;
        }

        p + ol {
            margin-top: -8px;
            margin-bottom: 10px;
        }

        p + ul {
            margin-top: -10px;
            margin-bottom: 10px;
        }

        ol {
            list-style: decimal;
            padding-bottom: 10px;
            line-height: 1.65em;
            margin-left: 16px;
        }
        li {
            padding-top: 3px;
            padding-bottom: 3px;
            // list-style: decimal;
            padding-left: 2px;
            margin-left: 12px
        }
        img {
            padding-top: 10px;
            padding-bottom: 16px;
            // display: block;
            margin: 0 auto;
            @media screen and (max-width: $br) {
                width: 100%;
                margin: auto;
            }
        }

        .note {
            background: #d8f2fd;
            text-decoration: italic;
            display: inline-block;
            padding: 14px;
            // margin-top: 16px;
            border: 1px #d8f2fd solid;
            border-radius: 4px;
            a {
                line-height: 25px;
                color: #000000;
                text-decoration: underline;
                text-decoration-color: currentcolor;
                text-decoration-thickness: auto;
                text-decoration-color: currentcolor;
                text-decoration-thickness: auto;
                text-decoration-color: #DADADA;
                text-decoration-thickness: .125em;
                text-underline-offset: 2.5px;
            }
        }

        // inline code blocks
        .highlighter-rouge {
            padding: 0.5px 5px 0.5px 5px;
            font-size: 12pt;
            // background: #f2f2f2;
            word-wrap: break-word;
            font-family: 'IBM Plex Mono', monospace;
            font-weight: 300;
            overflow: hidden;
            margin-bottom: 10px;
            color: #000000;
            border: 1px solid #EBE9ED;

        }

        sup {
            vertical-align: super;
            font-size: 8pt;
        }

        // syntax-highlighted code blocks
        .highlight {
            max-width: 650px;
            padding: 25px 25px 25px 25px;
            line-height: 14pt;
            font-weight: 400;
            overflow-x: auto;
            background: #ffffff;
            font-size: 16px;
            font-family: 'IBM Plex Mono', monospace;
            font-weight: 300;
            color: #000000;
            margin-bottom: 15px;
            border: 1px #dedede solid;
            border-radius: 4px;

        }

        .lineno {
            color: #d9d9d9;
            padding-right: 8px;
            border-right: 1px solid #d9d9d9;
            margin-right: 10px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .codebreak {
            margin: 15px;
            border: 0;
            border-bottom: 1px dashed #606060;
        }
    }
}

.about {

	&__back {
		display: block;
		text-align: left;
	}

    &__title {
        font-size: 1.5em;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    &__content {
        margin-top: 20px;
        h1 {
            font-size: 1em;
            font-style: italic;
            margin-top: 30px;
            margin-bottom: 5px;
        }
        p {
            font-size: 12pt;
            line-height: 1.5;
            margin-bottom: 10px;
            font-weight: 400;
		}
    }
}

