---
---

@import url(bw.css);
@import "reset";
@import "config";

::selection {
    color: #000000;
    background-color: #525252;
}

::-moz-selection {
    color: #000000;
    background-color: #a6cee3;
}

body {
    color: $color-fg;
    background: #f6f6f6;
    font-family:  'Noto Serif JP', 'IBM Plex Sans', serif;
    // font-size: 85%;
    font-weight: 300;
    word-wrap: break-word;
}

hr {
    color: #ffffff;
}

a {
    color: $color-fg;
    border-bottom: 1px dotted #B9B9B9;
    // padding: 1px;

    &:visited {
        text-decoration: none;
    }

    &:hover {
        // background-color: #000000;
        // border-bottom: 1px solid #505050;
        // color: #ffffff;
        // transition: .15s;
        // padding: 1px;

    }
}

h1 {
    font-weight: 300;
    font-family:  'Noto Serif JP', 'IBM Plex Sans', serif;
    margin-bottom: 5px;
}

p {
    font-size: 1.25em;
    line-height: 1.25em;
}

ul {
    list-style: none;
    align-items: baseline;
    li {
        padding: 5px;
        padding-left: 10px;
        @media screen and (max-width: $br) {
            padding: 10px 0 10px 0;
        }
    }
}


.wrapper {
    max-width: 500px;
    margin: auto;
    padding: 60px 30px 60px 30px;
    overflow: hidden;
    @media screen and (max-width: $br) {
        padding: 20px;
    }
}


// header (name)
.header {
    display: inline;
    justify-content: space-between;
    align-items: baseline;
    @media screen and (max-width: $br) {
        display: block;
    }
    h1 {
        font-size: 1.25em;
        font-family:  'Noto Serif JP', 'IBM Plex Sans', serif;
		font-weight: 500;
        padding-bottom: 5px;
		text-align: left;
    }
    ul {
        margin-top: 10px;
        li {
            display: inline;
            padding: 0;
            padding-left: 5px;
        }
    }

}

b {
    font-weight: 600;
}

i {
    font-style: italic;
}

// description
.desc {
	h2 {
		font-size: 1.25em;
	}

    p {
        font-family:  'Noto Serif JP', 'IBM Plex Sans', serif;
        font-size: 0.90em;
        font-weight: 300;
        line-height: 1.65em;
        margin-bottom: 5px;
        // text-align: justify;
    }

}


.portfolio {
    padding-bottom: 30px;
    h1 {
        font-size: 1em;
        margin-bottom: 5px;
    }
}



// archive section
.blog {
    padding-bottom: 30px;

    h1 {
        font-size: 0.95em;
        font-weight: 300;
        margin-bottom: 5px;
    }
	li {
        font-size: 0.90em;
        margin: 0 1.5px 1.5px 0;
        padding-right: 0px;
        list-style: none;
        line-height: 1.65em;
		.date{
			// float:right;
            font-size: 0.75em;
            color: #c0c0c0;
            text-transform: lowercase;
		}

        &:hover {
            color: #000000;
        }

	}
}


// blog-post
.post {
    padding-bottom: 30px;

	&__back {
		display: in-line;
		text-align: left;
	}
    &__title {
        font-size: 2em;
        font-family:  'Noto Serif JP', 'IBM Plex Sans', serif;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 25px;
		text-align: left;
        line-height: 1.2em; 
    }
    &__date {
        font-size: 0.75em;
		text-align: left;
        color: #878585;
        font-family:  'Noto Serif JP', 'IBM Plex Sans', serif;
        font-weight: 300;
        margin-bottom: 5px;
    }
    &__content {
        padding-top: 20px;
        h1 {
            font-size: 1.2em;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 10px;
            font-family:  'Noto Serif JP', 'IBM Plex Sans', serif;
        }
        p {
            font-family:  'Noto Serif JP', 'IBM Plex Sans', serif;
            font-size: 0.90em;
            font-weight: 300;
            line-height: 1.75em;
            padding-bottom: 15px;
            word-wrap: break-word;
            // text-align: justify;
        }
        strong {
            font-weight: 400;
            font-family: 'Noto Serif JP', 'IBM Plex Sans', serif;
            padding-bottom: 10px;
        }
        em {
            font-style: italic;
        }
        ul {
            padding-top: -10px;
            font-size: 0.90em;
            list-style: disc;
            padding-bottom: 10px;
            line-height: 1.65em;
            margin-left: 15px;
        }
        ol {
            list-style: disc;
            padding-bottom: 10px;
            line-height: 1.65em;
            margin-left: 15px;
        }
        li {
            padding-top: 3px;
            padding-bottom: 3px;
            // line-height: 1.5em;
            // margin: 0 0px 0px 0;
            // padding: 0px;
            // margin-left: 30px;
            // @media screen and (max-width: $br) {
            //     padding: 10px 0 10px 0;
            // }
        }
        img {
            padding-top: 10px;
            padding-bottom: 15px;
            display: block;
            margin: 0 auto;
            @media screen and (max-width: $br) {
                width: 100%;
                margin: auto;
            }
        }

        // inline code blocks
        .highlighter-rouge {
            padding: 3px;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 0.90em;
            background: #ebebeb;
            border-radius: 2px;
            font-family:  'IBM Plex Mono', monospace;
            font-weight: 300;
            overflow: hidden;
            margin-bottom: 10px;
        }

        .lineno { 
             color: #b0b0b0; 
             padding-right: 8px;
             border-right:1px solid #b0b0b0;
             margin-right: 10px;
             -webkit-touch-callout: none;
             -webkit-user-select: none;
             -khtml-user-select: none;
             -moz-user-select: none;
             -ms-user-select: none;
             user-select: none;
         }

        // syntax-highlighted code blocks
        .highlight {
            border-radius: 3px;
            padding: 10px;
            line-height: 1.25;
            font-weight: 300;
            overflow-x: scroll;
            background: #ebebeb;
            font-size: 0.95em;

        }
        .codebreak {
            margin: 15px;
            border: 0;
            border-bottom: 1px dashed $color-fg;
        }
    }
}

.about {

	&__back {
		display: block;
		text-align: left;
	}

    &__title {
        font-size: 1.5em;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    &__content {
        margin-top: 20px;
        h1 {
            font-size: 1em;
            font-style: italic;
            margin-top: 30px;
            margin-bottom: 5px;
        }
        p {
            font-size: 0.90em;
            line-height: 150%;
            margin-bottom: 10px;
            font-weight: 300;
		}
    }
}

