<!doctype html>
<div class=wrapper>
    <div class="page">
        {{ template "header.html" }}
        <div class="cont">
            <div class="post">
                {{ template "analytics.html" }}

                <title>
                    {{ index .FM "title" }}
                </title>
                <h1> {{ index .FM "title" }} </h1>

                {{ if index .FM "date" }}
                    <p class="post__date">{ index .FM "date" | date: '%B %-d, %Y' }</p>
                {{ end }}

                <div class="post__content"?>
                    {{ .Body }}
                </div>
            </div>
        </div>
    </div>

    {{ template "footer.html" }}
</div>
