<!doctype>

<div class=wrapper>
    {{ template "header.html" }}
    <div class="page">
        <div class="cont">
            <div class="post">
                {{ template "analytics.html" }}

                <title>
                    {{ index .Frontmatter "title" }} — Danish Prakash
                </title>

                <h1> {{ index .Frontmatter "title" }} </h1>

                <div class="metadata">
                    {{ if index .Frontmatter "author" }}
                        <p class="book__author">Author: {{ index .Frontmatter "author" }}</p>
                    {{ end }}

                    {{ if index .Frontmatter "date" }}
                        <p class="book__date">Date read: {{ .Post.Date.Format  "2 January 2006" }}</p>
                    {{ end }}

                    {{ if index .Frontmatter "format" }}
                        <p class="book__author">Format: {{ index .Frontmatter "format" }}</p>
                    {{ end }}
                </div>

                <div class="post__content"?>
                    {{ .Body }}
                </div>
            </div>
        </div>
    </div>
    {{ template "footer.html" }}
</div>

