<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
<title>{{ .Meta.Title }}</title>
<description>{{ .Meta.Title }} by {{ .Meta.Name }}</description>
<atom:link href="{{ .Meta.URL }}/feed.xml" rel="self" type="application/rss+xml"/>
<link>{{ .Meta.URL }}/</link>
<language>en-us</language>
{{ range $post := .Posts }}
<item>
<title>{{ $post.Title }}</title>
<link>{{ $.Meta.URL }}{{ $post.URL }}</link>
<guid>{{ $.Meta.URL }}{{ $post.URL }}</guid>
<pubDate>{{ $post.Date.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}</pubDate>
<description><![CDATA[{{ $post.Body }}]]></description>
</item>
{{ end }}
</channel>
</rss>
