<!doctype>

<div class="wrapper">
    <div class="topborder"></div>
    <div class="leftborder"></div>
    <title> danishprakash — Danish Prakash </title>
    <div class="page">
        {{ template "header.html" }}
        <div class="cont">
            <div class="desc">
                <div class="description"><p>
                    <!-- {{ .Body }} -->
                </p>
            </div>

            <div class="blog">
                <ol>
                    {{ range $post := .Posts }}
                        <li>
                            {{ if index $post.Frontmatter "external" }}
                                <a href="{{ index $post.Frontmatter "url" }}" target="_blank">{{ $post.Title }}</a> <span class="date"> {{ .Date.Format "Jan 06" }} </span>
                            {{ else }}
                                <a href="{{ $post.URL }}" >{{ $post.Title }}</a> <span class="date"> {{ $post.Date.Format "Jan 06" }} </span>
                            {{ end }}
                        </li>
                    {{ end }}
                </ol>
            </div>
        </div>
    </div>
</div>
{{ template "footer.html" }}
