<!doctype>

<div class=wrapper>
    {{ template "header.html" }}
    <div class="page">
        <div class="cont">
            <div class="post">
                {{ template "analytics.html" }}

                <title>
                    {{ index .Frontmatter "title" }} — Danish Prakash
                </title>

                <h1> {{ index .Frontmatter "title" }} </h1>

                <div class="metadata">
                    {{ if index .Frontmatter "camera" }}
                        <p class="post__camera">Camera: {{ index .Frontmatter "camera" }}</p>
                    {{ end }}

                    {{ if index .Frontmatter "date" }}
                        <p class="book__date">Date read: {{ index .Frontmatter "date" }}</p>
                    {{ end }}
                </div>

                <div class="post__content">
                    {{ .Body }}
                    {{ if .Post.Images }}
                        <div class="image-grid">
                            {{ range .Post.Images }}
                                <a href="{{ . }}" target="_blank" rel="noopener noreferrer" style="width: 100%; height: 100%;">
                                    <img src="{{ . }}" alt="Photo" loading="lazy" style="width: 100%; height: auto; display:block;" />
                                </a>
                            {{ end }}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ template "footer.html" }}
</div>
