<!doctype>

<div class=wrapper>
    {{ template "header.html" }}
    <div class="page">
        <div class="cont">
            <div class="post">
                {{ template "analytics.html" }}

                <title>
                    {{ index .Frontmatter "title" }} — Danish Prakash
                </title>

                <h1> {{ index .Frontmatter "title" }} </h1>

                {{ if index .Frontmatter "date" }}
                    <p class="post__date">{{ .Post.Date.Format  "2 January 2006" }}</p>
                {{ end }}

                <div class="post__content"?>

                    {{ .Body }}
                </div>
            </div>
        </div>
    </div>
    {{ template "footer.html" }}
</div>
