<!doctype html>
<div class=wrapper>
    <title> {{ index .Frontmatter "title" }} — Danish Prakash </title>
    <div class="page">
        {{ template "header.html" }}
        <div class="cont">
            <div class="post">
                {{ template "analytics.html" }}

                <title>
                    {{ index .Frontmatter "title" }}
                </title>
                <h1> {{ index .Frontmatter "title" }} </h1>

                {{ if index .Frontmatter "date_read" }}
                    <p class="post__date">{{ index .Frontmatter "date_read" }}</p>
                {{ end }}

                <div class="post__content"?>
                    {{ .Body }}
                </div>
            </div>
        </div>
    </div>

    {{ template "footer.html" }}
</div>
