---
layout: default
---

<div class="page">
    <div class="nav">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/software">CODE</a></li>
            <li><a href="/reading">READING</a></li>
            <li><a href="https://unsplash.com/@danishprakash" target="_blank">PHOTOS</a></li>
        </ul>
    </div>

    <div class="cont">
        <div class="about">
            {% include analytics.html %}
            <a class="about__back" href="/">home</a>
            <h1 class="about__title">Hi!</h1>
            <div class="about__content">
                {{ content }}
            </div>
        </div>
    </div>
</div>
