---
layout: default
---

<div class="page">
    <div class="nav">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/software">CODE</a></li>
            <li><a href="/reading">READING</a></li>
            <li><a href="https://unsplash.com/@danishprakash" target="_blank">PHOTOS</a></li>
        </ul>
    </div>

    <div class="cont">
        <div class="post">
            {% include analytics.html %}

            {% if page.title %}
                <h1 class="post__title">{{ page.title }}</h1>
            {% endif %}

            {{ content }}
            <br>
            <br>

            {% comment %}
            {% if page.date %}
                <p class="post__date">{{ page.date | date: '%B %-d, %Y' }}</p>
            {% endif %}
            {% endcomment %}

            <div class="post__content"?>
                {% for review in site.data.reviews.data %}
                    <div class="book-meta"> <a href={{review.book.link}} target="_blank">{{ review.book.title }}</a>
                        <p class="book-review"> {{ review.review.body }} </p>
                        <!-- <div class="review-date">{{ review.review.date_read | date: '%b %Y' }}</div> -->
                      </div>
                {% endfor %}
              </div>
        </div>
    </div>
</div>
