<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        {% include analytics.html %}
        {% if page.title %}
        <title>{{ page.title }} — danishpraka.sh</title>
        {% else %}
        <title>danishpraka.sh</title>
        {% endif %}

        <meta name="description" content="{{ site.description }}">

        <link rel="icon" href="/assets/img/favicon.png">
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="wrapper">
            {{ content }}
        </div>

    </body>

</html>
