---
layout: default
---

<div class="title">
    <a href="/">danishprakash</a>
</div>

<div class="page">
    <div class="nav">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/software">code</a></li>
            <li><a href="/reading">reading</a></li>
            <li><a href="https://unsplash.com/@danishprakash" target="_blank">photos</a></li>
        </ul>
    </div>

    <div class="cont">
        <div class="post">
            {% include analytics.html %}

            {% if page.title %}
                <h1 class="post__title">{{ page.title }}</h1>
            {% endif %}

            {% comment %}
            {% if page.date %}
                <p class="post__date">{{ page.date | date: '%B %-d, %Y' }}</p>
            {% endif %}
            {% endcomment %}

            <div class="post__content"?>
                {{ content }}
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <p> Copyright © <a href="/">Danish Prakash</a> 2022</p>
</div>
