---
layout: default
---


<div class="page">
    {% include header.html %}
    <div class="cont">
        <div class="post">
            {% include analytics.html %}

            {% if page.title %}
                <h1 class="post__title">{{ page.title }}</h1>
            {% endif %}

            {% if page.date %}
                <p class="post__date">{{ page.date | date: '%B %-d, %Y' }}</p>
            {% endif %}

            <div class="post__content"?>
                {% include anchor_headings.html html=content anchorBody="#" %}
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
