// COLORS
$color-fg: #272727;
$color-bg: #FFFFFF;
$color-grey: #EEEEEE;
$color-link: #1153bf;
$color-code: #f2f2f2;

// FONT
$font-url: "https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,400,700";
$font-code: "'IBM Plex Serif', ";

// BREAKPOINTS
$br: 600px;
